@charset "UTF-8";

.footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* ����� ����� ���������� � ���� */
}

    .footer .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .footer p {
        margin: 0;
        font-family: 'Press Start 2P', cursive;
        font-size: 12px;
    }
